$main = #1E1F21
$second = #686E72
$primary = #1476FB
$gradient = linear-gradient(166.99deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(166.99deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%), #7328D2
$primary-light = #E5F6E1
$gray = #949494
$light-gray = #f4f4f4

$error = $primary

$red = #ED3131
$blue = #2877D2
$green = #10A127

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$sunmedia = #1477FB

$lite = #52C136
$pro = #2A62F3
$signals = #F32A3B
$traderoom = #1E1F21

$border = 1px solid #DBE1E9
$radius = 4px
$bezier = cubic-bezier(.7, 0, .3, 1)
$transition = all .3s ease
// $main-padding = 8rem 0
// $main-offset = 14rem
// $main-offset = (120 / 1080 * 100)vh
$main-offset = 12rem
$padding = 8rem

$font = 'GothamPro', 'Arial', 'Helvetica', sans-serif


