.download
  display flex
  padding-bottom 4rem
  &:not(:last-child)
    border-bottom $border
  &__img
    flex-shrink 0
    margin-right 3.2rem
  &__title
    display block
    font-size 2.4rem
    font-weight 500
    margin-bottom .5em
    transition $transition
    &:hover
      color $primary
  &__work-with
    color $blue
    margin-bottom .5em
  &__info
    display flex
    margin-bottom 1em
  &__version
    margin-right 2em
  &__buttons
    align-items center
    display flex
  & + &
    margin-top 4rem

.download-previus
  &__title
    font-size 2.4rem
    margin-bottom .75em
  &:not(:last-child)
    margin-bottom 2em


@media(max-width 767px)
  .download
    display block
    &__img
      margin-bottom 1.6rem
    &__buttons
      display block
      .btn
        margin-bottom 1.6rem
      .link
        display table-cell
        margin-left 0





