.functions
  &__list
    display flex
    justify-content center
    margin-bottom 2.4rem
  &__item
    align-items center
    display flex
    margin-right 4rem
    opacity .4
    &--active
      opacity 1
  &__img
    margin-right .4rem

.scheme
  background-color $main
  display flex
  justify-content center
  padding 8rem
  &__container
    display flex
    flex-wrap wrap
    justify-content center
    width (1200 / 1920 * 100)%
  &__item
    border 1px solid rgba(#fff, .2)
    border-radius 32px
    color #fff
    display inline-flex
    flex-shrink 0
    margin-bottom 2rem
    padding 1.8rem 2rem
    &:not(:last-child)
      margin-right 2rem
    &--active
      &.scheme__item--pro
        border 2px solid $pro
      &.scheme__item--signals
        border 2px solid $signals
      &.scheme__item--traderoom
        border 2px solid #fff
      &.scheme__item--lite
        border 2px solid $lite
  &__circles
    display flex
    margin-right .8rem
    img
      &:not(:last-child)
        margin-right 2px

.fn-list
  &__line
    align-items flex-start
    display flex
    justify-content space-between
    padding-bottom 1em
    &:not(:first-child)
      margin-top 1.5em
    &:not(:last-child)
      border-bottom $border
  &__left
    width 30%
  &__circles
    display flex
    // justify-content flex-end
    min-width 6rem
    padding-right 2%
    transform translateY(8px)
    img
      &:not(:last-child)
        margin-right 4px
  &__center
    width 65%


@media(max-width 1200px)
  .scheme
    &__container
      width 96%

@media(max-width 1200px)
  .scheme
    &__container
      width 100%

@media(max-width 767px)
  .functions
    &__list
      flex-wrap wrap
    &__item
      margin-bottom .5em
  .fn-list
    &__line
      display block
    &__left
      width initial
    &__center
      width initial
    &__circles
      transform none
  .scheme
    padding 4rem .2rem
    &__item
      font-size 1.4rem
      margin-bottom 1.2rem
      padding 1.2rem 1.2rem
      &:not(:last-child)
        margin-right .4rem
    &__circles
      margin-right .2rem
