.get
  background-color $primary
  border-radius $radius
  color #fff
  overflow hidden
  padding 4.8rem 7.2rem
  position relative
  &__title
    max-width 50rem
  &__img
    max-width (860 / 1500 * 100)%
    position absolute
    right 0
    top 4.8rem

@media(max-width 1200px)
  .get
    padding 4rem
    &__img
      max-width 50%


@media(max-width 1000px)
  .get
    padding 2.4rem
    text-align center
    &__title
      max-width 100%
    &__img
      display none