.hero
  &__slider
    .slide
      position relative
      height 100vh
      max-height 94rem
      &__img
        height 100%
        img
          object-fit cover
          object-position center
          // height 100vh
          height 100%
          width 100%
          // width 100vw
      &__align
        color #fff
        position absolute
        top 24rem
        width 100%
        z-index 100
      &__title
        font-size 5.6rem
        line-height (64 / 56)
      &__subtitle
        color #fff
        opacity .7
      &__container
        max-width 72rem
      &__buttons
        align-items center
        display flex
        .btn
          margin-right 2rem

@media(max-width 1000px)
  .hero
    &__slider
      .slide
        height 70vh
        max-height initial
        &__align
          align-items center
          display flex
          bottom 0
          margin auto
          top 0
        &__title
          font-size 4rem

@media(max-width 767px)
  .hero
    &__slider
      .slide
        &__title
          font-size 2.4rem
        &__img
          position relative
          &:before
            background-color rgba($main, .5)
            content ''
            height 100%
            left 0
            position absolute
            top 0
            width 100%

@media(max-width 400px)
  .hero
    &__slider
      .slide
        &__buttons
          flex-wrap wrap
          .btn
            margin-bottom 2rem

@media(max-width 350px)
  .hero
    &__slider
      .slide
        height 100vh

@media(max-height 450px)
  .hero
    &__slider
      .slide
        height 100vh