.reviews
  background-color #F6F6F2
  padding $padding 0

.review
  &__body
    background-color #fff
    border-radius $radius
    margin-bottom 2rem
    padding 3.2rem
  &__status
    color $second
    font-size 1.4rem
    font-weight 500
    margin-bottom .5em
  &__text
    font-size 1.4rem
    line-height 1.6
  &__person
    align-items center
    display flex
  &__photo
    border-radius 50%
    display inline-block
    margin-right 1.2rem
    overflow hidden
  &__name
    margin-bottom .35em
  &__original
    align-items center
    display flex
    img
      margin-right .4rem
    span
      color $primary
      font-weight 500
    

@media(max-width 767px)
  .reviews
    padding 4rem 0
  .review
    margin-bottom 2.4rem
    &__body
      margin-bottom 1.2rem
      padding 1.6rem
  