.sidebar
  padding-top 2.4rem
  position sticky
  top 7.2rem
  &__link
    display block
    font-size 2rem
    margin-bottom .9em
    &--active
      & > span
        color $primary
    & > .sidebar__link
      font-size 1.8rem
      margin-bottom 0
      padding-left 1.5rem
      padding-top 1.5em
      & > .sidebar__link
        font-size 1.4rem
        padding-bottom 0
        padding-top 1em
  &__mobile
    display none
    padding 2rem 0
    .sidebar
      &__link
        display flex
        justify-content space-between
        margin-bottom 0
        img
          transition $transition
    &--active
      .sidebar
        &__link
          img
            transform rotate(180deg)

@media(max-width 1000px)
  .sidebar
    border-bottom $border
    border-top $border
    margin 0 -1.2rem
    padding 0 1.2rem
    &__list
      display none
    &__mobile
      display block


// @media(max-width 1000px)
//   .sidebar
//     margin-right -1.2rem
//     overflow hidden
//     // -webkit-overflow-scrolling touch
//     &__list
//       display flex
//       overflow-x scroll
//       overflow-y hidden
//       -webkit-overflow-scrolling touch
//     &__link
//       display inline-block
//       flex-shrink 0
//       &:not(:last-child)
//         margin-right 1em

// @media(max-width 767px)
//   .sidebar
//     &__link
//       font-size 1.6rem
//       font-weight 500