.vantages
  .vantage
    max-width 23rem
    &__img
      margin-bottom 2rem
    &__title
      font-size 2rem
      font-weight 600
      line-height (24 / 20)
      margin-bottom .6em
    &__subtitle
      font-size 1.4rem
      line-height 1.4