.wrapper
  // max-width (1700 / 1920 * 100)%
  margin 0 auto
  // width 1420px
  padding-left 1.2rem
  padding-right 1.2rem
  width 100%
  // width 94%

.grid-container
  // color #fff
  display grid
  grid minmax(100px, auto)
  grid-template-columns repeat(12, 1fr)
  grid-column-gap 1.6rem
  grid-row-gap 1.6rem

// .col
  // background-color rgba(#fff, .2)
  // grid-column-end auto
  // padding 4rem
  // text-align center
  // width 100%

.col
  grid-column span 12

.col--sm,
.col--md,
.col--lg,
.col--xl
  &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12
    grid-column span 12

.col--xs
  &-1
    grid-column span 1
  &-2
    grid-column span 2
  &-3
    grid-column span 3
  &-4
    grid-column span 4
  &-5
    grid-column span 5
  &-6
    grid-column span 6
  &-7
    grid-column span 7
  &-8
    grid-column span 8
  &-9
    grid-column span 9
  &-10
    grid-column span 10
  &-11
    grid-column span 11
  &-12
    grid-column span 12


@media(min-width 544px)
  .grid-container
    grid-column-gap 1.6rem
    grid-row-gap 1.6rem
  .col--sm
    &-1
      grid-column span 1
    &-2
      grid-column span 2
    &-3
      grid-column span 3
    &-4
      grid-column span 4
    &-5
      grid-column span 5
    &-6
      grid-column span 6
    &-7
      grid-column span 7
    &-8
      grid-column span 8
    &-9
      grid-column span 9
    &-10
      grid-column span 10
    &-11
      grid-column span 11
    &-12
      grid-column span 12

@media(min-width 768px)
  .grid-container
    grid-column-gap 2rem
    grid-row-gap 2rem
  .col--md
    &-1
      grid-column span 1
    &-2
      grid-column span 2
    &-3
      grid-column span 3
    &-4
      grid-column span 4
    &-5
      grid-column span 5
    &-6
      grid-column span 6
    &-7
      grid-column span 7
    &-8
      grid-column span 8
    &-9
      grid-column span 9
    &-10
      grid-column span 10
    &-11
      grid-column span 11
    &-12
      grid-column span 12


@media(min-width 992px)
  .wrapper
    padding-left 2%
    padding-right 2%
  .grid-container
    grid-column-gap 2.4rem
    grid-row-gap 2.4rem
  .col--lg
    &-1
      grid-column span 1
    &-2
      grid-column span 2
    &-3
      grid-column span 3
    &-4
      grid-column span 4
    &-5
      grid-column span 5
    &-6
      grid-column span 6
    &-7
      grid-column span 7
    &-8
      grid-column span 8
    &-9
      grid-column span 9
    &-10
      grid-column span 10
    &-11
      grid-column span 11
    &-12
      grid-column span 12


@media(min-width 1200px)
  .grid-container
    // padding-left 3%
    // padding-right 3%
    grid-column-gap 2rem
    grid-row-gap 2rem
  .col--xl
    &-1
      grid-column span 1
    &-2
      grid-column span 2
    &-3
      grid-column span 3
    &-4
      grid-column span 4
    &-5
      grid-column span 5
    &-6
      grid-column span 6
    &-7
      grid-column span 7
    &-8
      grid-column span 8
    &-9
      grid-column span 9
    &-10
      grid-column span 10
    &-11
      grid-column span 11
    &-12
      grid-column span 12

@media(min-width 1520px)
  .wrapper
    padding 0
    width 1504px


@media(max-width 1199px)
 .dn-xl
    display none

@media(max-width 992px)
 .dn-lg
    display none

@media(max-width 768px)
 .dn-md
    display none

@media(max-width 544px)
 .dn-sm
    display none




// @media(max-width 1600px)
//   .grid-container
//     grid-column-gap 2.4rem

// @media(max-width 1200px)
//   .col
//     grid-column span 12