p
  color $main
  font-size 16px
  line-height (28 / 16)
  margin-bottom 32px
  // margin-bottom 1.8rem
  margin-top 0
  & + p
    margin-bottom 1.8rem
  a
    color $primary !important
  .link
    display inline

// h1, .h1
//   font-family $font
//   font-size 5.6rem
//   font-weight 600
//   line-height (64 / 56)
//   margin-bottom .6em
//   margin-top 0

h2, .h2
  font-family $font
  font-size 32px
  font-weight 600
  line-height (48 / 40)
  margin-top 0
  margin-bottom 16px

// h3, .h3
//   font-family $font
//   font-size 3.2rem
//   font-weight 600
//   line-height (40 / 32)
//   margin-bottom .75em
//   margin-top 0

// h4, .h4
//   font-family $font
//   font-size 2rem
//   font-weight 600
//   line-height (24 / 20)
//   margin-left 0
//   margin-bottom .3em
//   margin-top 0

ul.ul
  padding 0
  margin 0
  padding-left 12px
  li
    display block
    font-size 16px
    line-height 1.4
    margin-bottom 8px
    margin-left 0
    position relative
    vertical-align top
    &:before
      background-color $primary
      border-radius 50%
      circle(4px)
      content ''
      display block
      left -12px
      line-height 1
      position absolute
      top .5em
  // li
  //   display block
  //   font-size 1.8rem
  //   font-weight 300
  //   line-height 1.6
  //   margin-bottom 3.2rem
  //   margin-left 2em
  //   position relative
  //   vertical-align top

// ol
//   counter-reset item
//   margin-left 0
//   padding-left 3.2rem


// small
//   color $gray
//   display inline-block
//   font-size 1.2rem
//   line-height 1.4
//   margin-bottom 1.2em

// .text-center
//   text-align center

// @media(max-width 1200px)
//   h1, .h1
//     font-size 3.2rem
//   h2, .h2
//     font-size 3.2rem
//   p, .p
//     font-size 1.4rem
//   ul
//     li
//       &:before
//         left -1.2rem
//         top .65em

// @media(max-width 767px)
//   h1, .h1
//     font-size 2.8rem
//   h2, .h2
//     font-size 2.8rem
//   h3, .h3
//     font-size 2rem
//   p
//     font-size 1.4rem

// @media(max-width 350px)
//   h1, .h1
//     word-break break-word